@model student_attendance.Models.UserAllRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserAllRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.role_id_fk.role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role_id_fk.role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_id_fk.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id_fk.user_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_role_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
