@model student_attendance.Models.Attendance

@{
    ViewBag.Title = "Delete Attendance";
}

<style>

</style>

<h2>Delete Attendance</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="dl-horizontal" style="border: 1px solid #DEDEDE; box-shadow: 1px 1px 0 1px #DEDEDE; display: inline-block;padding: 5px 20px;">
        <dt>
            @Html.DisplayNameFor(model => model.schedule_id_fk.day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_id_fk.day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student_id_fk.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_id_fk.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Model.date.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.entry_time)
        </dt>

        <dd>
            @Model.entry_time.ToShortTimeString()
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @if (Model.status == "1")
            {<text>Present</text>}
            else if (Model.status == "2")
            {<text>Late</text>}
            else
            { <text>Absent</text>}

            @*@Html.DisplayFor(model => model.status)*@
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", new { id = "reject" }, new { @class = "btn btn-primary" })
        </div>
    }
</div>
